name: Selenium CI
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  selenium-tests:
    runs-on: ubuntu-latest
    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444
        options: >-
          --health-cmd="curl -s http://localhost:4444/wd/hub/status || exit 1"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Vérifier Chrome
        run: google-chrome --version

      - name: Load repository
        uses: actions/checkout@master

      - name: Debug structure
        run: ls -R

      - name: Installation des dépendances
        run: mvn clean install -DskipTests

      - name: Exécuter les tests Selenium
        run: mvn clean verify

